@font-face {
    font-family: 'crimson-italic';
    src: url('../fonts/CrimsonText-Italic.ttf'); 
}

@font-face {
    font-family: 'crimson-regular';
    src: url('../fonts/CrimsonText-Regular.ttf'); 
}

body {
    font-family: 'crimson-regular';
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

p {
    font-size: 17px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

button {
    font-family: 'crimson-italic';
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

*:focus {
    outline: 0 !important;
}

.page-content {
    min-height: calc(100vh - 196px);
}

.navbar {
    background-color: #FFC929;
}

.navbar .navbar-brand {
    margin-left: calc(50vw - 110px);
}

.navbar .navbar-brand img {
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.footer-container {
    background-color: #FFC929;
    height: 100px;
}

.footer-logo-image {
    height: 50px;
}

.footer-contact-box img {
    width: 30px;
    margin: 10px;
}


