.jumbotron {
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vw;
    border-radius: unset;
}

.restaurant-selection {
    min-height: 250px;
    background-color: #E9EAE6;
}

.recipe-selection {
    min-height: 250px;
    background-color: white;
}
