.jumbotron {
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vw;
    border: none;
}