@media screen and (min-width: 576px) {
  .navbar-right-section {
    position: absolute;
    right: 20px;
  }
  .navbar .navbar-brand {
    margin-left: 0px;
  }
}


@media screen and (max-width: 479px) {
  #root .navbar .navbar-brand {
    margin-left: 0px;
  }
}


@media screen and (max-width: 850px) {
  #root .accordion-recipe {
    width: 420px;
  }
  #root .accordion-text {
    width: auto;
    padding: 0;
    margin-top: 20px;
  }
}